.column_one {
  float: left;
  width: 30%;
}
  
.column_two {
    float: left;
    width: 70%;
}
 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .rating {
    font-size: 50px;
    font-style: bold;
  }


 
.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 100px;
  position: relative;
  padding: 0;
}

.star-ratings-css > .star-ratings-css-top {
  color: #0e0e0e;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}

.star-ratings-css > .star-ratings-css-bottom {
  padding: 0;
  display: block;
  z-index: 0;
}
/* 
  .full-star{
    font-size: 20px;
    width: 20px;
    color: rgb(0, 0, 0);
}
  
  .star {
    font-size: 20px;
    width: 20px;
    display: inline-block;
    color: gray;
}

.star.half:after {
    content:'\2605';
    color: rgb(0, 0, 0);
    position: absolute;
    margin-left: -20px;
    width: 10px;
    overflow: hidden;
} */

.ratings-container-five {
  position: relative;
  top:0px;
  left: 10px;
  width:200px;
  margin:0 auto;
}
.ratings-container-four {
  position: relative;
  left: 10px;
  top: 0px;
  width:200px;
  margin:0 auto;
}
.ratings-container-three {
  position: relative;
  left: 10px;
  top: 0px;
  width:200px;
  margin:0 auto;
}
.ratings-container-two {
  position: relative;
  left: 10px;
  top:0px;
  width:200px;
  margin:0 auto;
}
.ratings-container-one {
  position: relative;
  left: 10px;
  top: 20px;
  width:200px;
  margin:0 auto;
}
.rating-bar{
  background:rgb(223, 223, 223);
}
.rating-bar-fill{
  display:block;
  height:8px;
}

.black{ background:rgb(73, 73, 73); }


.perfect-rating-text {
  top:630px;
  font-size: 12px;
  margin-right:47px;
}
.comfort-rating-text{
  top:670px;
  font-size: 12px;
  width:320px;
  margin-right:80px;
}

.perfect-rating-space-size {
  position: relative;
  top: 588px;
  width:250px;
  margin:0 auto;
}

.perfect-rating-space-comfort {
  position: relative;
  top: 650px;
  width:250px;
  margin:0 auto;
}

.space-one{
  display:inline-table;
  height:8px;
  width: 33%;
  margin-right:2px;
  background:rgb(223, 223, 223); 
}

.space-two{
  display:inline-table;
  height:8px;
  width: 33%;
  margin-right:2px;
  background:rgb(223, 223, 223); 
}
.space-three{
  display:inline-table;
  height:8px;
  width: 33%;
  background:rgb(223, 223, 223); 
}
 
